*{
    margin:0;
    border:0;
    padding:0;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.battleship-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playergrid,.computergrid{
    display: grid;
    grid-template-columns: repeat(6,100px);
    grid-template-rows:repeat(6,100px);
    margin: 30px;
    
}
.playergrid .square, .computergrid .square{
border: solid black 1px;
padding: 10px;
}

.ship{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
}
.ship>div{
    border: solid black 1px;
}

.highlight{
    background-color: yellow;
}
.red{
    background-color: red;
}