*{
    margin:0;
    border:0;
    padding:0;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

/* .GAME{
    width: 80%;

} */

.title{
    text-align: center;
}

.battleship-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playergrid,.computergrid{
    display: grid;
    grid-template-columns: repeat(6,100px);
    grid-template-rows:repeat(6,100px);
    margin: 30px;
    
}
.playergrid .square, .computergrid .square{
border: solid black 1px;
padding: 10px;
}

.ship-container{
    display: flex;
}


.ships{
  display: flex;
  margin:30px;
  flex:1;
}

.ship{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(5,100px);
}

.megaman{
    flex:1;
    margin: 30px;
}
.megaman button{
    padding:30px;
    font-size: 25px;
    border-radius: 20px;
    margin: 0px 35px;
}

.ship>div{
    border: solid black 1px;
}

.highlight{
    background-color: yellow;
}
.red{
    background-color: red;
}


.Commander-Ship{
    background-image:url(./commander.png);
}